<!DOCTYPE html>
<html lang="en" ng-app="EcoCisco">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EcoCisco</title>

    <!-- GLOBAL SCRIPTS -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="scripts/js/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="scripts/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="scripts/js/plugins/popupoverlay/jquery.popupoverlay.js"></script>
    <script type="text/javascript" src="scripts/js/plugins/flot/jquery.flot.js"></script>
    <script src="scripts/js/plugins/jquery-watch/jquery.watch.js"></script>
    <!-- PACE LOAD BAR PLUGIN - This creates the subtle load bar effect at the top of the page. -->
    <link href="styles/css/plugins/pace/pace.css" rel="stylesheet">
    <script src="scripts/js/plugins/pace/pace.js"></script>

    <!-- GLOBAL STYLES - Include these on every page. -->
    <link href="styles/css/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel="stylesheet" type="text/css">
    <link href="styles/icons/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- PAGE LEVEL PLUGIN STYLES -->
    <link href="styles/side-nav.css" rel="stylesheet">
    <link href="styles/login-panel.css" rel="stylesheet">
    <link href="styles/dashboard-panel.css" rel="stylesheet">

    <!-- THEME STYLES - Include these on every page. -->
    <link href="styles/css/style.css" rel="stylesheet">
    <link href="styles/css/plugins.css" rel="stylesheet">

    <!-- THEME DEMO STYLES - Use these styles for reference if needed. Otherwise they can be deleted. -->
    <link href="styles/css/demo.css" rel="stylesheet">

    <!-- PAGE SCRIPTS -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/my-ecocisco.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper" ng-controller="GlobalController">

        <!-- begin TOP NAVIGATION -->
        <nav class="navbar-top" role="navigation">

            <div class="nav-top">

                <!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
                <ul class="nav navbar-right">

                    <!-- begin USER ACTIONS DROPDOWN -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">
                                    <i class="fa fa-user"></i> My Profile
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-envelope"></i> My Messages
                                    <span class="badge green pull-right">4</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-bell"></i> My Alerts
                                    <span class="badge orange pull-right">9</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-tasks"></i> My Tasks
                                    <span class="badge blue pull-right">10</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-calendar"></i> My Calendar
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-gear"></i> Settings
                                </a>
                            </li>
                            <li>
                                <a class="logout_open" href="#">
                                    <i class="fa fa-sign-out"></i> Logout
                                    <strong>John Smith</strong>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->
                    <!-- end USER ACTIONS DROPDOWN -->

                </ul>
                <!-- /.nav -->
                <!-- end MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->

            </div>
            <!-- /.nav-top -->
        </nav>
        <!-- /.navbar-top -->
        <!-- end TOP NAVIGATION -->

        <div ng-controller="DashboardController">

            <!-- begin SIDE NAVIGATION -->
            <nav class="navbar-side" role="navigation">
                <div class="navbar-collapse sidebar-collapse collapse">
                    <ul id="side" class="nav navbar-nav side-nav">
                        <!-- begin SIDE NAV USER PutANEL -->
                        <li class="side-user hidden-xs">
                            <img id="side-nav-eco-cisco-logo" src="../images/eco-cisco-logo.png" alt="">
                            <p class="welcome">
                                <i class="fa fa-key"></i> Logged in as
                            </p>
                            <p class="name tooltip-sidebar-logout">
                                John
                                <span class="last-name">Smith</span> <a style="color: inherit" class="logout_open" href="#logout" data-toggle="tooltip" data-placement="top" title="Logout"><i class="fa fa-sign-out"></i></a>
                            </p>
                            <div class="clearfix"></div>
                        </li>
                        <!-- end SIDE NAV USER PANEL -->
                        <!-- begin SIDE NAV SEARCH -->
                        <li class="nav-search">
                            <form role="form">
                                <input type="search" class="form-control" placeholder="Search...">
                                <button class="btn">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </li>
                        <!-- end SIDE NAV SEARCH -->
                        <li id="{{button.id}}" ng-repeat="button in buttons" ng-click="toggleDashboard($index)">
                            <a href="#" ng-class="{select: isSelected($index)}">
                                <i class="{{button.class}}" ></i> {{button.label}} 
                            </a>
                        </li>
                    </ul>
                    <!-- /.side-nav -->
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <!-- /.navbar-side -->
            <!-- end SIDE NAVIGATION -->

            <!-- begin MAIN PAGE CONTENT -->
            <div id="page-wrapper">

                <div class="page-content">

                        <!-- begin PAGE TITLE ROW -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="page-title">
                                    <h1>Dashboard
                                        <small>{{activePanel}}</small>
                                    </h1>
                                    <ol class="breadcrumb">
                                        <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
                                        <li class="pull-right">
                                            <div id="reportrange" class="btn btn-green btn-square date-picker">
                                                <i class="fa fa-calendar"></i>
                                                <span class="date-range"></span> <i class="fa fa-caret-down"></i>
                                            </div>
                                        </li>
                                    </ol>

                                    <!-- LOGIN PANEL BEGIN -->
                                    <div id="login-wrapper" ng-controller="LoginController" ng-hide="state.isLoggedIn">
                                        <form class="form-signin" ng-submit="login()">
                                            <h1 class="form-signin-heading text-muted">Sign In</h1>
                                            <input type="text" class="form-control" placeholder="User" required="" autofocus="">
                                             <input type="password" class="form-control" placeholder="Password" required="">
                                            <button class="btn btn-lg btn-primnary btn-block" type="submit">Sign In</button>
                                        </form>
                                    </div>
                                     <!-- LOGIN PANEL END -->

                                    <!-- DASHBOARD PANEL BEGIN -->
                                    <div class="dashboard-panel-wrapper">

                                        <!-- MY ECOCISCO PANEL BEGIN -->
                                        <div id="my-ecocisco-panel" class="portlet portlet-purple" ng-controller="MyEcoCiscoController" ng-show="showPanel()">
                                            <div class="portlet-heading">
                                                <div class="portlet-title">
                                                    <h4>Your EcoCisco</h4>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div id="purplePortlet" class="panel-collapse collapse in">
                                                <div class="portlet-body">
                                                    <div id="myTabContent" class="tab-content">
                                                        <div class="tab-pane fade in active" id="tab1"> 
                                                            <div class="row">
                                                                    <!-- START PROFILE IMAGE -->
                                                                    <div class="col-md-3 col-md-offset-1">
                                                                        <img class="img-circle" src="../images/profile-pic.jpg" alt="">
                                                                    </div>
                                                                    <!-- END PROFILE IMAGE -->
                                                                    <!-- START USER POINTS/SCORE -->
                                                                    <div class="col-md-3 col-md-offset-1">
                                                                        <div class="circle-tile">
                                                                            <a href="#">
                                                                                <div class="circle-tile-heading dark-blue">
                                                                                    <i class="fa fa-users fa-fw fa-3x"></i>
                                                                                </div>
                                                                            </a>
                                                                            <div class="circle-tile-content dark-blue">
                                                                                <div class="circle-tile-description text-faded"> John Smith </div>
                                                                                <div id="user-points-ticker" class="circle-tile-number text-faded"> 
                                                                                    265
                                                                                    <span id="sparklineA"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- END USER POINTS/SCORE -->
                                                                    <!-- START TEAM POINTS/SCORE -->
                                                                    <div class="col-md-3">
                                                                        <div class="circle-tile">
                                                                            <a href="#">
                                                                                <div class="circle-tile-heading dark-blue">
                                                                                    <i class="fa fa-users fa-fw fa-3x"></i>
                                                                                </div>
                                                                            </a>
                                                                            <div class="circle-tile-content dark-blue">
                                                                                <div class="circle-tile-description text-faded"> Team Harris </div>
                                                                                <div id="team-points-ticker" class="circle-tile-number text-faded"> 
                                                                                    1999
                                                                                    <span id="sparklineA"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- END TEAM POINTS/SCORE-->
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <!-- START PLEGES TABLES -->
                                                                    <div class="portlet portlet-orange">
                                                                        <div class="portlet-heading">
                                                                            <div class="portlet-title">
                                                                                <h4>Pledge Table</h4>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                        <div class="portlet-body">
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-hover">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>#</th>
                                                                                                <th>Pledge Type</th>
                                                                                                <th>Frequency</th>
                                                                                                <th>Date</th>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>1</td>
                                                                                                <td>Used Recyclable Utensils</td>
                                                                                                <td>2</td>
                                                                                                <td>07/29/2014</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>2</td>
                                                                                                <td>Carpooled</td>
                                                                                                <td>2</td>
                                                                                                <td>07/28/2014</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>3</td>
                                                                                                <td>Placed Trash in Recycling</td>
                                                                                                <td>3</td>
                                                                                                <td>08/1/2014</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>4</td>
                                                                                                <td>Disposed of Electronics Reponsibly</td>
                                                                                                <td>1</td>
                                                                                                <td>08/1/2014</td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- END PLEDGES TABLE -->
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <!-- START SINGLE NUMBER ENERGY USAGE -->
                                                                    <div class="tile light-gray" style="height: 320px">
                                                                        <h4><i class="fa fa-bolt"></i> Realtime Energy Usage <a href="javascript:;"><i class="fa fa-refresh pull-right"></i></a>
                                                                        </h4>
                                                                        <h4><strong id="energy-usage-ticker">10 kWH </strong></h4>     
                                                                        <div class="flot-chart flot-chart-dashboard">
                                                                            <div class="flot-chart-content" id="flot-chart-moving-line"></div>
                                                                        </div>
                                                                    </div>
                                                                     <!-- END SINGLE NUMBER ENERGY -->
                                                                </div>
                                                                <div class="col-md-3 pricing-circle">
                                                                    <!-- START SINGLE NUMBER PLEDGE POINTS -->
                                                                    <ul class="plan plan4">
                                                                        <li class="plan-name">
                                                                            Pledge Points
                                                                        </li>
                                                                        <li class="plan-price">
                                                                            <h4><strong id="pledge-points-ticker">39</strong> Points</h4>
                                                                        </li>
                                                                    </ul>
                                                                     <!-- END SINGLE NUMBER PLEDGE POINTS -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- MY ECOCISCO PANEL END -->

                                        <!-- MY ECOSTANDING PANEL BEGIN -->
                                        <div id="my-ecostanding-panel" class="portlet portlet-purple" ng-controller="MyEcoStandingController" ng-show="showPanel()">
                                            
                                            <div class="portlet-heading">
                                                <div class="portlet-title">
                                                    <h4>My EcoStanding</h4>
                                                </div>
                                                <div class="portlet-widgets">
                                                    <ul id="myTab" class="list-inline tabbed-portlets">
                                                        <li class="active"><a class="btn btn-xs btn-default" href="#tab1" data-toggle="tab">Tab #1</a></li>
                                                        <li><a class="btn btn-xs btn-default" href="#tab2" data-toggle="tab">Tab #2</a></li>
                                                    </ul>
                                                    <span class="divider"></span>
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#purplePortlet"><i class="fa fa-chevron-down"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                                </div>
                                                <div id="purplePortlet" class="panel-collapse collapse in">
                                                    <div class="portlet-body">
                                                        <div id="myTabContent" class="tab-content">
                                                            <div class="tab-pane fade in active" id="tab1">
                                                                <div class="portlet portlet-orange">
                                                                    <div class="portlet-heading">
                                                                        <div class="portlet-title">
                                                                            <h4>Hoverable Responsive Table</h4>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                    <div class="portlet-body">
                                                                            <div class="table-responsive">
                                                                                <table class="table table-hover">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>#</th>
                                                                                            <th>First Name</th>
                                                                                            <th>Last Name</th>
                                                                                            <th>Username</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td>1</td>
                                                                                            <td>Mark</td>
                                                                                            <td>Otto</td>
                                                                                            <td>@mdo</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>2</td>
                                                                                            <td>Jacob</td>
                                                                                            <td>Thornton</td>
                                                                                            <td>@fat</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>3</td>
                                                                                            <td>Larry</td>
                                                                                            <td>the Bird</td>
                                                                                            <td>@twitter</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="tab2">
                                                                <div class="portlet portlet-orange">
                                                                    <div class="portlet-heading">
                                                                        <div class="portlet-title">
                                                                            <h4>Hoverable Responsive Table</h4>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                    <div class="portlet-body">
                                                                        <div class="table-responsive">
                                                                            <table class="table table-hover">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>#</th>
                                                                                        <th>First Name</th>
                                                                                        <th>Last Name</th>
                                                                                        <th>Username</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>1</td>
                                                                                        <td>Mark</td>
                                                                                        <td>Otto</td>
                                                                                        <td>@mdo</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>2</td>
                                                                                        <td>Jacob</td>
                                                                                        <td>Thornton</td>
                                                                                        <td>@fat</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>3</td>
                                                                                        <td>Larry</td>
                                                                                        <td>the Bird</td>
                                                                                        <td>@twitter</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <!-- MY ECOSTANDING PANEL END -->

                                        <!-- MY ECOENERGY PANEL BEGIN -->                                        
                                        <div id="my-eco-energy-panel" class="portlet portlet-purple" ng-controller="MyEcoEnergyController" ng-show="showPanel()">
                                            <div class="portlet-heading">
                                                <div class="portlet-title">
                                                    <h4>My EcoEnergy</h4>
                                                </div>
                                                <div class="portlet-widgets">
                                                    <ul id="myTab" class="list-inline tabbed-portlets">
                                                        <li class="active"><a class="btn btn-xs btn-default" href="#tab1" data-toggle="tab">Tab #1</a></li>
                                                        <li><a class="btn btn-xs btn-default" href="#tab2" data-toggle="tab">Tab #2</a></li>
                                                    </ul>
                                                    <span class="divider"></span>
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#purplePortlet"><i class="fa fa-chevron-down"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                                </div>
                                                <div id="purplePortlet" class="panel-collapse collapse in">
                                                    <div class="portlet-body">
                                                        <div id="myTabContent" class="tab-content">
                                                            <div class="tab-pane fade in active" id="tab1">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                    <div class="portlet portlet-green">
                                                                        <div class="portlet-heading">
                                                                            <div class="portlet-title">
                                                                                <h4>Line Chart</h4>
                                                                            </div>
                                                                            <div class="portlet-widgets">
                                                                                <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                                                                                <span class="divider"></span>
                                                                                <a data-toggle="collapse" data-parent="#accordion" href="#lineChart"><i class="fa fa-chevron-down"></i></a>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </div>
                                                                        <div id="lineChart" class="panel-collapse collapse in">
                                                                            <div class="portlet-body">
                                                                                <div id="morris-chart-line"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="tab2">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="portlet portlet-green">
                                                                            <div class="portlet-heading">
                                                                                <div class="portlet-title">
                                                                                    <h4>Line Chart</h4>
                                                                                </div>
                                                                                <div class="portlet-widgets">
                                                                                    <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                                                                                    <span class="divider"></span>
                                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#lineChart"><i class="fa fa-chevron-down"></i></a>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                            <div id="lineChart" class="panel-collapse collapse in">
                                                                                <div class="portlet-body">
                                                                                    <div id="morris-chart-line"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <!-- MY ECOENERGY PANEL END -->

                                        <!-- ABOUT PANEL BEGIN -->
                                        <div id="about" class="portlet portlet-purple" ng-controller="AboutController" ng-show="showPanel()">
                                            <div class="portlet-heading">
                                                <div class="portlet-title">
                                                    <h4>About</h4>
                                                </div>
                                                <div class="portlet-widgets">
                                                    <ul id="myTab" class="list-inline tabbed-portlets">
                                                        <li class="active"><a class="btn btn-xs btn-default" href="#tab1" data-toggle="tab">About</a></li>
                                                    </ul>
                                                    <span class="divider"></span>
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#purplePortlet"><i class="fa fa-chevron-down"></i></a>
                                                </div>
                                                <div class="clearfix"></div>
                                                </div>
                                                <div id="purplePortlet" class="panel-collapse collapse in">
                                                    <div class="portlet-body">
                                                        <div id="myTabContent" class="tab-content">
                                                            <div class="tab-pane fade in active" id="tab1">
                                                                <p> <h4>Verbose About Statement</h4></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <!-- ABOUT PANEL END -->

                                    </div>
                                    <!-- DASHBOARD PANEL END -->

                                </div>
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                        <!-- end PAGE TITLE ROW -->

                    </div>
                    <!-- /.page-content -->

                </div>
                <!-- /#page-wrapper -->
                <!-- end MAIN PAGE CONTENT -->
                    </div> 
                </div>
                <!-- /#wrapper --> 

    <!-- Logout Notification jQuery -->
    <script src="scripts/js/plugins/popupoverlay/logout.js"></script>
    <!-- HISRC Retina Images -->
    <script src="scripts/js/plugins/hisrc/hisrc.js"></script>
    <!-- THEME SCRIPTS -->
    <script src="scripts/js/flex.js"></script>

</body>

</html>