<div class="portlet portlet-purple" ng-controller="AboutController" ng-show="showPanel()">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h4>About</h4>
        </div>
        <div class="portlet-widgets">
            <ul id="myTab" class="list-inline tabbed-portlets">
                <li class="active"><a class="btn btn-xs btn-default" href="#tab1" data-toggle="tab">About</a></li>
            </ul>
            <span class="divider"></span>
            <a data-toggle="collapse" data-parent="#accordion" href="#purplePortlet"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
        </div>
        <div id="purplePortlet" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <p> <h4>Verbose About Statement</h4></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 