<div class="portlet portlet-purple" ng-controller="MyEcoEnergyController" ng-show="showPanel()">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h4>My EcoEnergy</h4>
        </div>
        <div class="portlet-widgets">
            <ul id="myTab" class="list-inline tabbed-portlets">
                <li class="active"><a class="btn btn-xs btn-default" href="#tab1" data-toggle="tab">Tab #1</a></li>
                <li><a class="btn btn-xs btn-default" href="#tab2" data-toggle="tab">Tab #2</a></li>
            </ul>
            <span class="divider"></span>
            <a data-toggle="collapse" data-parent="#accordion" href="#purplePortlet"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
        </div>
        <div id="purplePortlet" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <div class="row">
                            <div class="col-lg-12">
                            <div class="portlet portlet-green">
                                <div class="portlet-heading">
                                    <div class="portlet-title">
                                        <h4>Line Chart</h4>
                                    </div>
                                    <div class="portlet-widgets">
                                        <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                                        <span class="divider"></span>
                                        <a data-toggle="collapse" data-parent="#accordion" href="#lineChart"><i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div id="lineChart" class="panel-collapse collapse in">
                                    <div class="portlet-body">
                                        <div id="morris-chart-line"></div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="portlet portlet-green">
                                    <div class="portlet-heading">
                                        <div class="portlet-title">
                                            <h4>Line Chart</h4>
                                        </div>
                                        <div class="portlet-widgets">
                                            <a href="javascript:;"><i class="fa fa-refresh"></i></a>
                                            <span class="divider"></span>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#lineChart"><i class="fa fa-chevron-down"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div id="lineChart" class="panel-collapse collapse in">
                                        <div class="portlet-body">
                                            <div id="morris-chart-line"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 