<div class="portlet portlet-purple" ng-controller="MyEcoEnergyController" ng-show="showPanel()">
    <div class="portlet-heading">
        <div class="portlet-title">
            <h4>My EcoEnergy</h4>
        </div>
        <div class="portlet-widgets">
            <ul id="myTab" class="list-inline tabbed-portlets">
                <li class="active"><a class="btn btn-xs btn-default" href="#tab1" data-toggle="tab">Tab #1</a></li>
                <li><a class="btn btn-xs btn-default" href="#tab2" data-toggle="tab">Tab #2</a></li>
            </ul>
            <span class="divider"></span>
            <a data-toggle="collapse" data-parent="#accordion" href="#purplePortlet"><i class="fa fa-chevron-down"></i></a>
        </div>
        <div class="clearfix"></div>
        </div>
        <div id="purplePortlet" class="panel-collapse collapse in">
            <div class="portlet-body">
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <p>Portlet class:
                            <code>.portlet-purple</code>. <strong>Tab #1</strong>
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
                    </div>
                    <div class="tab-pane fade" id="tab2">
                        <p>Portlet class:
                            <code>.portlet-purple</code>. <strong>Tab #2</strong>
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis tempus libero. Aliquam et dui at augue aliquet gravida at at est. Curabitur mattis sem sed dolor sagittis blandit. Nulla facilisi. Praesent eget nibh nisl. Sed scelerisque ligula sed justo lobortis, at pharetra ipsum ornare. Pellentesque non nisl sit amet erat venenatis semper tincidunt sit amet erat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 