<!-- begin MAIN PAGE CONTENT -->
<div id="page-wrapper">

    <div class="page-content">

        <!-- begin PAGE TITLE ROW -->
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h1>Dashboard
                        <small>{{activePanel}}</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
                        <li class="pull-right">
                            <div id="reportrange" class="btn btn-green btn-square date-picker">
                                <i class="fa fa-calendar"></i>
                                <span class="date-range"></span> <i class="fa fa-caret-down"></i>
                            </div>
                        </li>
                    </ol>
                    <div id="login-wrapper" ng-controller="LoginController" ng-hide="state.isLoggedIn">
                        <form class="form-signin" ng-submit="login()">
                            <h1 class="form-signin-heading text-muted">Sign In</h1>
                            <input type="text" class="form-control" placeholder="User" required="" autofocus="">
                             <input type="password" class="form-control" placeholder="Password" required="">
                            <button class="btn btn-lg btn-primnary btn-block" type="submit">Sign In</button>
                        </form>
                    </div>
                    <div class="dashboard-panel-wrapper"> 
                        <div data-ng-include data-src="'views/my-ecocisco.html'"></div>
                        <div data-ng-include data-src="'views/my-ecostanding.html'"></div>
                        <div data-ng-include data-src="'views/my-ecoenergy.html'"></div>
                        <div data-ng-include data-src="'views/about.html'"></div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- end PAGE TITLE ROW -->

    </div>
    <!-- /.page-content -->

</div>
<!-- /#page-wrapper -->
<!-- end MAIN PAGE CONTENT -->